{# login page #}

{% extends 'base-front.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="background">

    <div class="container container-jobs">

        <header id="header">
        
            <div class="container" id="customer-header">
                {# nav #}
                <nav class="main-nav d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/">Accueil</a></li>
                        <li><a href="{{ path('offers_index') }}">Alternances</a></li>
                        <li class="drop-down"><a>S'INSCRIRE</a>
                        <ul>
                            <li><a href="/student/new">Etudiant</a></li>
                            <li><a href="/company/new">Entreprises</a></li>
                            <li><a href="/school/new">Ecole</a></li>
                        </ul>
                        </li> 
                    </ul>
                </nav>
            
            </div>
        </header>

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        <form method="post" action="/login" class="form-center form-center--login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword" class="Password">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3" id="login-option" style="display:flex;justify-content:space-between;">
                <label>
                    <input type="checkbox" name="_remember_me"> se souvenir de moi
                </label> <br>
                <div><a href="{{ path('app_forgotten_password') }}">mot de passe oublié ?</a></div>
            </div>
            
            <button class="Password btn btn-lg btn-primary" type="submit">
                Connexion
            </button>

        </form>

    </div>

</div>

<footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
      </div>
      <div class="credits">
        L'équipe de SWEEETCH
      </div>
    </div>
</footer>

{% endblock %}