{# create new password page #}

{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - home {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  <div class="background">
    <div class="container container-jobs">

        <header id="header">
            <div id="topbar">
                <div class="container">
                    <div class="social-links">
                    <a href="https://twitter.com/SweeetchA" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/sweeetch.ton.alternance/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://fr.linkedin.com/company/sweetchmontpellier?trk=public_profile_topcard_current_company" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/sweeetch_alternance/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="logo float-left">
                    <h1 class="text-light"><a href="#intro" class="scrollto"><span>SWEEETCH</span></a></h1>
                </div>
            </div>
        </header>

        <main id="main">
            <section id="about">
                <div class="container">
                    {# success message #}
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                     {# form #}
                    <h3>Nouveau mot de passe</h3>
                    <p style="text-align:center;">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                    <br><br>
                    <div class="row" style="display:flex;justify-content:center;">

                        {{ form_start(form, {attr:{'style':'width:300px;'}}) }}
                         {# error message #}
                        {% for message in app.flashes('error') %}
                        <div class="alert" style="background-color:transparent;color:red;font-size:10px;padding:0px;">
                            {{ message }}
                        </div>
                        {% endfor %}

                        <div class="form-group">        
                            {{ form_row(form.password.first, {'type': 'password', 'label' : 'Mot de passe', 'attr' : { class: 'form-control', value:'' }} ) }}
                        </div>
                        <div class="form-group">
                        {{ form_row(form.password.second, {'type': 'password', 'label' : 'Répéter le mot de passe', 'attr' : { class: 'form-control', value:'' }} ) }} 
                        </div>
                        <button class="btn btn-primary">Envoyer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
{# footer #}
<footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
      </div>
      <div class="credits">
        L'équipe de SWEEETCH
      </div>
    </div>
</footer>

{% endblock %}
