<form method="post" class="{{ app.request.get('_route') == 'student_index' or app.request.get('_route') == 'admin' ? 'form-icon' : '' }}form-delete" action="{% if app.request.get('_route') == 'admin' %} {{ path('student_delete', {'id': student.student.id, 'from' : 'admin' }) }} {% elseif app.request.get('_route') == 'student_edit' %} {{ path('student_delete', {'id': student.id, 'from' : 'homepage' }) }} {% else %} {{ path('student_delete', {'id': student.id, 'from' : 'student_index' }) }} {% endif %}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ app.request.get('_route') == 'admin' ? csrf_token('delete' ~ student.student.id) : csrf_token('delete' ~ student.id) }}">
    <button class="{% if app.request.get('_route') == 'student_index' or app.request.get('_route') == 'admin' %} btn-icon {% else %} btn {% endif %} btn-danger">
        {% if app.request.get('_route') == 'student_index' or app.request.get('_route') == 'admin' %} <i class="far fa-trash-alt" title="supprimer"></i> {% else %} Supprimer le compte {% endif %} 
    </button>
</form>
