{# list of student for admin #}
{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - Admin {% endblock %}

{% block body %}
    {# title #}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 container-flex">
                    <h1 class="m-0 text-dark">Etudiants</h1>
                </div>
            </div>
        </div>
    </div>
    {# success message #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {# table #}
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Statu</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td class="email-{{ student.user.id }}"><strong><a href="{{ path('student_show', {'id': student.id}) }}" >{{ student.user.email }}</a></strong></td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.lastname }}</td>
                            <td>{% if student.user.confirmed == false %}<span class="badge badge-warning">A confirmer</span>{% else %}<span class="badge badge-success">Confirmé</span>{% endif %}</td>
                            <td class="table-actions">
                                <div class="icon-group">
                                {% if student.user.confirmed == false %}
                                    <form method="post" class="form-icon" action="{{ path('admin_confirm', {'id': student.user.id, 'from':'student_index'}) }}" onsubmit="return confirm('Are you sure you want to confirm this user ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ student.user.id) }}">
                                        <button class="btn-icon btn-success"><i class="fas fa-check" title="confirmer le compte"></i></button>
                                    </form>
                                {% endif %}
                                    <div class="btn-icon-form">
                                        <a href="#ex1" rel="modal:open">
                                            <i class="fas fa-exclamation-circle warning" title="signaler un probleme" data-url="{{ student.user.id }}"></i>
                                        </a>
                                    </div> 
                                    {{ include('student/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5">Aucun Elément</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {# paginate #}
    <div style="max-width:100%;overflow:scroll;">{{ knp_pagination_render(students) }}</div>

{% endblock %}
