{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - students {% endblock %}

{% block body %}

<div class="background">
    
    <div class="container jobs-container">

        <header id="header">
            <!-- <div id="topbar">
            <div class="container">
                <div class="social-links">
                <a href="https://twitter.com/SweeetchA" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sweeetch.ton.alternance/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://fr.linkedin.com/company/sweetchmontpellier?trk=public_profile_topcard_current_company" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/sweeetch_alternance/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            </div> -->
        
            <div class="container" id="customer-header">
                {# nav #}
                <nav class="main-nav d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/">Accueil</a></li>
                        {# <li><a href="{{ path('offers_index') }}">Alternances</a></li> #}
                        {% if page is defined %}
                        <li><a href="{{ path('offers_index', {'page':page}) }}">Alternances</a></li>
                        {% else %}
                        <li><a href="{{ path('offers_index', {'page':1}) }}">Alternances</a></li>
                        {% endif %}
                        {% if pages is defined %}
                        <li><a href="{{ path('studies_candidate_index', {'page':pages}) }}">Formations</a></li>
                        {% else %}
                        <li><a href="{{ path('studies_candidate_index', {'page':1}) }}">Formations</a></li>
                        {% endif %}
                        <li class="drop-down"><a>S'INSCRIRE</a>
                            <ul>
                                <li><a href="/student/new">Etudiants</a></li>
                                <li><a href="/company/new">Entreprises</a></li>
                                <li><a href="/school/new">Ecoles</a></li>
                            </ul>
                        </li>
                        <li><a href="/login/">CONNEXION</a></li>
                    </ul>
                </nav>
            
            </div>
        </header>

        <h1 class="titles-front">Devenir Alternant</h1>
        {{ include('student/_form.html.twig') }}

    </div>
</div>

<footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
      </div>
      <div class="credits">
        L'équipe de SWEEETCH
      </div>
    </div>
</footer>

{% endblock %}


