{{ form_start(form) }}

{% macro printSkillsFormRow(skill) %}
    <div href="#" class="js-remove-profile-item language-card"> 
        <a href="#" class="js-remove-data pull-right">
            <span class="fa fa-close js-remove-data" style="color:red;font-size:20px;"></span>
        </a>
        <div class="form-group">
        {{ form_row(skill.single, {'label':'Compétences' ,'attr' : { class: 'form-control' }} ) }}
        </div><br>
    </div>
{% endmacro %}
{% macro printXpFormRow(xp) %}
    <div href="#" class="js-remove-profile-item language-card"> 
        <a href="#" class="js-remove-data pull-right">
            <span class="fa fa-close js-remove-data" style="color:red;font-size:20px;"></span>
        </a>
        <div class="form-group">
        {{ form_row(xp.single, {'label':'Expériences + Formation' ,'attr' : { class: 'form-control' }} ) }}
        </div><br>
    </div>
{% endmacro %}
{# import macro #}
{% import _self as FormSkillsMacro %}

<div class="col-md-12">
    <div class="card-responsive card">

        <div class="card-body mt-2 mb-5">
            <div class="row">
                <div class="form-group col-lg-12">
                    {{ form_row(form.title, {'label':'Titre', 'attr' : { class: 'form-control' }} ) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                {{ form_row(form.domain, {'label':'Domaine', 'attr' : { class: 'form-control' }} ) }}
                </div>
                <div class="form-group col-lg-6">
                {{ form_row(form.location, {'label':'Région', 'attr' : { class: 'form-control' }} ) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                {{ form_row(form.dateStart, {'label':'Début'}) }}
                </div> 
                <div class="form-group col-lg-6">
                {{ form_row(form.dateEnd, {'label':'Fin'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 message-red">
                {{ form_row(form.description, {'label':'Description du poste', 'attr' : { class: 'form-control', 'rows':'10' }} ) }}
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-6 js-profile-wrapper" id="skills-wrapper" data-prototype="{{ FormSkillsMacro.printSkillsFormRow(form.skills.vars.prototype)|e('html_attr') }}"  data-index="{{ form.skills|length }}">
                    <h5>Compétences Requises</h5><br>
                    {% for skill in form.skills %}
                    {{  FormSkillsMacro.printSkillsFormRow(skill) }} 
                    {% endfor %}
                    <a href="#" class="js-profile-add" data-url="skills-wrapper">
                        <span class="btn btn-success">Ajouter une Compétence</span>
                    </a>
                </div>
                <div class="col-lg-6 js-profile-wrapper" id="xp-wrapper" data-prototype="{{ FormSkillsMacro.printXpFormRow(form.experience.vars.prototype)|e('html_attr') }}"  data-index="{{ form.experience|length }}">
                    <h5>Expériences + Formation</h5><br>
                    {% for xp in form.experience %}
                    {{  FormSkillsMacro.printXpFormRow(xp) }} 
                    {% endfor %}
                    <a href="#" class="js-profile-add" data-url="xp-wrapper">
                        <span class="btn btn-success">Ajouter une Expérience</span>
                    </a>
                </div>
            </div>
            {# <div class="row">
                <div class="col-lg-12 mt-2">
                    <br><br>
                    <button class="btn btn-primary" style="width:100%;">{{ button_label|default('Enregistrer') }}</button>
                </div>
            </div> #}
        </div>
    </div>
</div>
{{ form_end(form) }}


