{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - home {% endblock %}

{% block stylesheets %}
    <!-- import assets from assets/js/app.js -->
    {{ parent() }}

    <link href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
    <!-- Main Stylesheet File -->

{% endblock %}


{% block body %}

<!--==========================
  Header
  ============================-->

  <div class="background">

    <div class="container container-jobs">

        <header id="header">

            <div id="topbar">
            <div class="container">
                <div class="social-links">
                <a href="https://twitter.com/SweeetchA" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sweeetch.ton.alternance/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://fr.linkedin.com/company/sweetchmontpellier?trk=public_profile_topcard_current_company" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/sweeetch_alternance/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            </div>

            <div class="container">

            <div class="logo float-left">
                <!-- LOGO HOME IMAGE -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>SWEEETCH</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                <li class="active"><a href="{{ path('homepage') }}">Acceuil</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#team">Équipe</a></li>

                <li><a href="#footer">Contact</a>
                <li><a href="{{ path('offers_index') }}">Emplois</a></li>
                    {# <ul>
                        <li><a href="cgu.html">Conditions Générales D'utilisation</a></li>
                        <li><a href="cgdc.html">Politique de confidentialité</a></li>
                        <li><a href="#footer">Contact Partenariat</a></li>
                    </ul> #}
                </li>
                
                    {% if is_granted('ROLE_USER')  %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin', {id:app.user.id}) }}">ADMIN</a></li>
                        {% elseif  is_granted('ROLE_STUDENT') %}
                        <li><a href="{{ path('student_show', {'id': app.user.student.id}) }}">MON PROFILE</a></li>
                        {% elseif  is_granted('ROLE_COMPANY') %}
                        <li><a href="{{ path('company_show', {'id': app.user.company.id}) }}">MON ENTREPRISE</a></li>
                        {% elseif  is_granted('ROLE_SCHOOL') %}
                        <li><a href="{{ path('school_show', {'id': app.user.school.id}) }}">MON ECOLE</a></li>
                        {% endif %}
                        <li><a href="/logout">DECONNEXION</a></li>
                    {% else %}
                    <li class="drop-down"><a>S'INSCRIRE</a>
                        <ul>
                            <li><a href="/student/new">Etudiants</a></li>
                            <li><a href="/company/new">Entreprises</a></li>
                            <li><a href="/school/new">Ecoles</a></li>
                        </ul>
                    </li>
                    <li><a href="/login">CONNEXION</a></li>
                    {% endif %}   
                            
                </ul>
            </nav><!-- .main-nav -->
            
            </div>
        </header><!-- #header -->

        <main id="main">

           <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Questions fréquemment posées</h3>
          <p>Ces questions sont les plus fréquemment posées du point de vue des alternants, n'hésitez pas à nous contacter pour plus d'informations.</p>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <h2>Etudiants</h2>
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">L'alternance, qu'est ce que c'est ?<i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Aujourd'hui et sur le marché du travail, les formations en alternance sont ce qu'il y a de plus reconnu. L'alternance est un cursus qui allie théorie et pratique. Chaque semaine, tu assistes à des cours, tenu par à des professionnels dans leur domaine, afin d'obtenir un diplôme reconnu. Tu travailles également dans l'entreprise de ton choix afin de mettre en application ton savoir, et de te former au métier, grâce à un tuteur qui t'accompagne au quotidien dans ton évolution professionnelle. Grâce à l'alternance, tu pourras t'inserer très facilement dans le marché de l' emploi après ta formation !
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Dans quel secteur d'activité je peux faire mon alternance ?<i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Aujourd'hui, pratiquement tous les secteurs d'activités privilégient l'alternance ! Que tu souhaites te former dans le commerce, la mode, la communication, l'événementiel, la banque, le sport, la restauration, l'immobilier, l'artisanat... Tu peux viser l'entreprise de ton choix, et même découvrir une nouvelle vocation, nos partenaires sont là pour te former aux métiers d'aujourd'hui et de demain ! Si tu as des questions, ou si tu hésites, l'équipe Sweeetch est là pour te conseiller !
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Sweeetch, comment ça marche ?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                C'est très simple ! Il te suffit de t'inscrire, et de déposer ton CV sur la plate-forme. Des lors, tu auras accès à toutes les offres des entreprises qui recrutent en alternance. Tu pourras les consulter, y postuler et les contacter directement via ta messagerie Sweeetch !
                <br>
                Une entreprise
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Qui sont ces entreprises ?<i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Ce sont des professionnels avec lesquels l'équipe Sweeetch a validé leur capacité d'intégrer un alternant dans leur structure. Ils sont prêts à t'accueillir, te former et te donner les outils pour évoluer au sein de l'équipe !              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Comment postuler ?<i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Rend toi sur l'offre qui t'intéresse, et vérifie que la description de l'entreprise et des missions correspond à ce que tu recherches ! Si c'est le cas, il ne reste plus qu'à postuler en cliquant sur le bouton approprié. Tu pourras personnaliser le message d'envoi et y ajouter ton CV. Ça y est, c'est envoyé !
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed"> Une entreprise à retenu ma candidature, que faire ?<i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Elle va bientôt te contacter pour un entretien, il est temps de t'y préparer ! Reçois nos conseils personnalisés afin de ne pas laisser passer ta chance !
              </p>
              <p>
                Il n'y a pas d'entreprise qui recrutent dans le secteur que je recherche
              </p>
              <p>
                Sois patient ! L'équipe Sweeetch travaille à fond pour te proposer de nouvelles offres chaque semaine. Parles en aussi autour de toi : c'est comme cela que Sweeetch grandira et se fera connaître de toutes les entreprises !
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq7" class="collapsed">J'ai postulé à plusieurs offres mais je n'ai pas encore de réponse<i class="ion-android-remove"></i></a>
            <div id="faq7" class="collapse" data-parent="#faq-list">
              <p>
                Passer par l'intérim est très intéressant pour acquérir de l'expérience" explique Jérôme Gras, Directeur Executif chez Page Personnel. "Les jeunes diplômés ont d'ailleurs bien compris ses multiples avantages. Ils ne sont pas dupes : ils savent qu'ils ne trouveront peut-être pas exactement ce qu'ils recherchent en intérim mais qu'ils s'en rapprocheront. Mais c'est aussi ça la vie professionnelle."
              </p>
            </div>
          </li>
        </ul>
        <br>
        <ul id="faq-list" class="wow fadeInUp">
          <h2>Entreprises</h2>
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq8">L'intégration d'un alternant dans votre équipe vous permet de profiter de plusieurs avantages<i class="ion-android-remove"></i></a>
            <div id="faq8" class="collapse" data-parent="#faq-list">
              <p>
                > Vous répondez à un besoin en recrutement immédiat, tout en anticipant le futur de votre unité commerciale : vous former un candidat motivé aux savoir faire et à la culture de votre entreprise en vue d'une embauche à long terme. 
              </p>
              <p>
                > L'alternant reçoit une formation professionnelle de qualité au sein de son école, lui permettant d'acquérir des savoir théoriques et ainsi de maîtriser rapidement des notions et outils propres à votre secteur d'activité. Son regard extérieur et les missions qu'il devra effectuer lors de sa formation lui permettra d'établir un diagnostic de votre entreprise, et de proposer des actions visant à optimiser votre organisation, votre chiffre d'affaires et votre image. 
              </p>
              <p>
                > Vous participez à une démarche humaine de qualité : vous offrez la chance à un candidat motivé d'apprendre les divers aspects d'un métier dans son ensemble. C'est une façon de tendre la main aux jeunes actifs, afin qu'ils puissent faire leurs preuves dans l'expérience significative que vous leur proposez ! 
              </p>
              <p>
                > Grâce aux nombreux avantages financiers liés aux contrats d'alternance, vous envisagez le futur sereinement grâce à une maîtrise des coûts ! Au delà des réductions fiscales et des primes incitant à l'embauche, vous rémunérez l'alternant en fonction de son âge et de sa qualification (entre 25 et 80% du SMIC) 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq9" class="collapsed">Je n'ai jamais embaucher d'alternant, comment procéder ?<i class="ion-android-remove"></i></a>
            <div id="faq9" class="collapse" data-parent="#faq-list">
              <p>
                Avant tout, notre équipe d'experts est à votre disposition. Nous vous accompagnons tout au long du processus de recrutement, et nous vous renseignons sur toutes les modalités les plus avantageuses grâce à nos conseils personnalisés ! N'attendez plus à contactez nous par mail infos-contacts@sweeetch.com
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq10" class="collapsed"> J’ai reçu plusieurs candidatures, comment les traiter ?<i class="ion-android-remove"></i></a>
            <div id="faq10" class="collapse" data-parent="#faq-list">
              <p>
                Les différentes candidatures s'affichent dans votre espace. Vous pouvez consulter les informations et le CV de chaque candidat afin d'aiguiller votre recrutement.
              </p>
              <p>
                Un candidat ne correspond pas à votre besoin : Vous sélectionnez "refuser la candidature". Un message automatique sera envoyé au candidat en question
              </p>
              <p>
                Un candidat correspond au profil recherché et vous souhaitez le rencontrer : <br>
                Vous sélectionnez "valider la candidature". Un message est envoyé au candidat en question, et vous pouvez le contacter afin de procéder à un entretien d'embauche physique ou virtuel.
              </p>
              <p>
                J'ai reçu plusieurs candidats, et un profil se démarque, je veux le recruter : <br>
                Notifiez votre choix au candidat en question, et sur sa candidature dans votre espace entreprise, cliquer sur "Je recrute ce candidat". Un mail de validation est envoyé à l'école partenaire, qui prendra rapidement contact avec vous pour procéder au contrat et à l'intégration de votre alternant.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->
        </main>

    </div>
</div>

  <footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
      </div>
      <div class="credits">
        L'équipe de SWEEETCH
      </div>
    </div>
</footer>


{% endblock %}
