<form method="post" class="{{ app.request.get('_route') == 'company_index' or app.request.get('_route') == 'admin'  ? 'form-icon' : '' }}form-delete" action="{% if app.request.get('_route') == 'admin' %} {{ path('company_delete', {'id': company.company.id, 'from':'admin'}) }} {% elseif app.request.get('_route') == 'company_edit' %} {{ path('company_delete', {'id': company.id, 'from':'homepage'}) }} {% else %} {{ path('company_delete', {'id': company.id, 'from' : 'company_index' }) }} {% endif %}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ app.request.get('_route') == 'admin' ? csrf_token('delete' ~ company.company.id) : csrf_token('delete' ~ company.id) }}">
    <button class="{% if app.request.get('_route') == 'company_index' or app.request.get('_route') == 'admin' %} btn-icon {% else %} btn {% endif %} btn-danger btn-edit-form">
        {% if app.request.get('_route') == 'company_index' or app.request.get('_route') == 'admin' %} <i class="far fa-trash-alt" title="supprimer"></i> {% else %} Supprimer le compte {% endif %}
    </button>
</form>
