{# studies list by student #}
{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - Formations {% endblock %}

{% block body %}

    <div class="background-jobs">

		<div class="container-fluid container-jobs">

			<header id="header">
				<div class="container" id="customer-header">
					{# nav #}
					<nav class="main-nav d-none d-lg-block">
						<ul>
							<li class="active"><a href="/">Accueil</a></li>
							{% if page is defined %}
							<li><a href="{{ path('offers_index', {'page':page}) }}">Alternances</a></li>
							{% else %}
							<li><a href="{{ path('offers_index', {'page':1}) }}">Alternances</a></li>
							{% endif %}
							{% if pages is defined %}
							<li><a href="{{ path('studies_candidate_index', {'page':pages}) }}">Formations</a></li>
							{% else %}
							<li><a href="{{ path('studies_candidate_index', {'page':1}) }}">Formations</a></li>
							{% endif %}
							{% if is_granted('ROLE_USER') %}
								{% if is_granted('ROLE_ADMIN') %}
								<li><a href="/admin">ADMIN</a></li>
								{% elseif  is_granted('ROLE_STUDENT') %}
								<li><a href="{{ path('student_show', {'id': app.user.student.id}) }}">MON PROFILE</a></li>
								{% elseif  is_granted('ROLE_COMPANY') %}
								<li><a href="{{ path('company_show', {'id': app.user.company.id}) }}">MON ENTREPRISE</a></li>
								{% elseif  is_granted('ROLE_SCHOOL') %}
								<li><a href="{{ path('school_show', {'id': app.user.school.id}) }}">MON ECOLE</a></li>
								{% endif %} 
							<li><a href="/logout">DECONNEXION</a></li>
							{% else %}
							<li class="drop-down"><a>S'INSCRIRE</a>
								<ul>
									<li><a href="/student/new">Etudiants</a></li>
									<li><a href="/company/new">Entreprises</a></li>
									<li><a href="/school/new">Ecoles</a></li>
								</ul>
							</li> 
							<li><a href="/login/">CONNEXION</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</header>

			<div class="container jobs-container">

				<h1>Formations disponibles</h1>
                {# success message #}
                {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
                {# paginate #}
                <div class="pagination-top">{{ knp_pagination_render(studies) }}</div>
                {# studies list #}
                <div class="row">
					{% for studies in studies %}
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="job-grid border">
							<div class="job-title-sec">
								<div class="c-logo"> 
									{% if studies.school.pictures.fileName is defined %}
									<img src="{{ uploaded_asset(studies.school.pictures.fileName) }}" alt="">
									{% else %}
									<img src="https://via.placeholder.com/150" alt="" >
									{% endif %}
								</div>

								<h3><a href="{{ path('studies_show_recruit', {id:studies.id, page:pages }) }}">{{ studies.title }}</a></h3> 

								<span>{{ studies.school.firstname}} {{ studies.school.lastname}}</span>
								<span class="fav-job"><i class="la la-heart-o"></i></span>
							</div>
							<span class="job-lctn"></span>
							<a  class="a-button" href="{{ path('studies_show_recruit', {id:studies.id, page:pages }) }}">POSTULER</a> 
						</div>
					</div>
					{% endfor %}
				</div>
				 {# paginate #}
				 <div class="pagination-bottom">{{ knp_pagination_render(studies) }}</div> 
			</div>
   		</div>
    </div>
    {# footer #}
    <footer id="footer" class="section-bg">
        <div class="container">
            <div class="copyright">
            &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
            </div>
            <div class="credits">
            L'équipe de SWEEETCH
            </div>
        </div>
	</footer>
	
{% endblock %}




