{# show student to school #}

{% extends 'base-school.html.twig' %} 

{% block title %} {{ parent() }} - Ecoles {% endblock %}

{% block body %}
    {# title #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
               <h1 class="m-0 titles-front">{{ student.Name }} {{ student.lastname }}</h1> <br>
                <div>
                   <a href="{{ path('school_studies_show', {'id': study.id, school_id: school.id }) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                </div>
            </div>
        </div>
    </div> <br>
    {# success message #}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {# student profil #}
    <div class="col-md-12">
        <div class="card-responsive card">
    
            <div class="Password card col-lg-12">
    
                <div class="col-lg-12">
                    <h3 class="mb-3 mt-3 titles-front">Général</h3>
                </div>
    
                <div class="card-responsive card-body" style="max-width:100%;overflow:scroll;">
                    <table class="table">
                        <tbody>
                           <tr>
                                <th>Email</th>
                                <td>{{ student.user.email }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ student.adress }}, {{ student.zipCode }}, {{ student.city }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ student.telNumber }}</td>
                            </tr>
                            <tr>
                                <th>Permis B</th>
                                <td>{% if student.drivingLicense == 1 %} oui {% else %} non {% endif %} </td>
                            </tr>
                            <tr>
                                <th>Handicap</th>
                                <td>{% if student.disabled == 1 %} oui {% else %} non {% endif %} </td>   
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                <div class="col-lg-12">
                    <h3 class="mb-3 mt-3 titles-front">Langues</h3>
                </div>
    {# domain #}
                <div class="card-responsive card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Domaine d'activité</th>
                                <td>{{ student.profile.domain }}</td>
                            </tr>
                            <tr>
                                <th>Région recherchée</th>
                                <td>{{ student.profile.area }}</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12">
                    <h3 class="mb-3 mt-3 titles-front">Formation</h3>
                </div>
    {# education #}
                <div class="card-responsive card-body" style="max-width:100%;overflow:scroll;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th><strong>Titre</strong></th>
                                <th><strong>Ecole</strong></th>
                                <th><strong>Début</strong></th>
                                <th><strong>Fin</strong></th>
                            </tr>
                            {% for education in student.profile.education %}
                            <tr>
                                <td>{{ education.title }}</td>
                                <td>{{ education.school }}</td>
                                <td>{{ education.dateStart|date("d/m/Y") }}</td>
                                {% if education.current == true %}
                                  <td>  en cours </td>
                                {% else %}
                                    <td>{{ education.dateEnd|date("d/m/Y") }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12">
                    <h3 class="mb-3 mt-3 titles-front">Documents</h3>
                </div>
{# CV #}  
                <div class="card-responsive card-body">
                
                    <table class="table">
                        <tbody>
                            <tr>
                                <th><strong>CV</strong></th>
                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        <a href="{{ path('school_download_resume', { id: student.resume.id, studies:study.id, school:school.id, student:student.id }) }}"><span class="fa fa-download">{{ student.resume.originalFilename }}</span></a> 
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

