<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sweeetch</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
  <link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="index.html" class="logo mr-auto"><img src="{{ asset('assets/img/logo.png') }}" alt="" class="img-fluid"></a><a href="index.html">Sweeetch</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Accueil</a></li>
              <li><a href="#about">Comment ça marche ?</a></li>
              <li><a href="#services">Offres d'Alternances</a></li>
              <li><a href="#portfolio">Blog</a></li>
              <li class="drop-down"><a href="">S'inscrire</a>
                <ul>
                  <li><a href="#">Étudiant</a></li>
                  </li>
                  <li><a href="#">Écoles</a></li>
                  <li><a href="#">Entreprise</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav><!-- .nav-menu -->

          <a href="#about" class="get-started-btn scrollto">Connexion</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1> Sweeetch La plateforme qui révolutionne la recherche d'alternance !</h1>
          <h2>La plateforme qui révolutionne la recherche d'alternance !</h2>
          <div><a href="#about" class="btn-get-started scrollto">INSCRIVEZ-VOUS</a><a href="#about" class="btn-get-started scrollto">Vidéo<i class="icofont-play-alt-2"></i></a></div></a>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{{ asset('assets/img/hero-img copie.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="{{ asset('assets/img/about.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Conçue pour les alternants</h3>
            <p class="font-italic">
              Conscient de tous les obstacles qui freinent ta recherche d'alternance, On a décidé de créer une plateforme simple & rapide afin que tu puisses avoir l'esprit tranquille !
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i>Notre équipe t'apporte son expertise et ses conseils jusqu'à l'obtention de ton alternance.</li>
              <li><i class="icofont-check-circled"></i> Marketing, Ressources humaines, Mode, Communication, Gestion d’entreprise, Management... en contrat d'apprentissage ou contrat de professionnalisation</li>
              <li><i class="icofont-check-circled"></i> Toutes les démarches sur une même plateforme ! Ton entreprise et ton école en quelques clics.</li>
            </ul>
            <a href="#" class="read-more">En savoir plus <i class="icofont-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">245</span>
            <p>Étudiants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2</span>
            <p>Entreprises</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2</span>
            <p>Écoles</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>alternant ayant réussi à trouver une école et une alternance grâce à Sweeetch</p>
            </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

   

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>comment ça marche ?</h2>
          <p>CONÇU PAR DES ALTERNANTS POUR DES ALTERNANTS</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>ACCOMPAGNEMENT</h4>
              <p>Une plateforme intuitive. Laissez vous guider dans chacune de vos démarches.ccepter une alternance par dépit, c'est fini ! 

                Avec Sweeetch,  c'est toi qui décides de ton futur : Marketing, ressources humaines, mode, communication, artisanat...
                
                Des centaines d'offres d'emplois accessibles chaque jour, et sans intermédiaire. Tu y trouveras forcément ton bonheur 😀</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>GAGNANT-GAGNANT</h4>
              <p>Véritable plateforme de mise en relation entre les étudiants, les entreprises et les écoles.Fais confiance à Sweeetch ! 

                De la prestigieuse Business School de ta ville en passant par les meilleurs centres de formation en alternance, nous sélectionnons pour toi les établissements les plus adaptés à la direction que tu souhaites donner à ta carrière professionnelle.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-images"></i>
              <h4>OPTIMISATION DE RECHERCHES</h4>
              <p>Gagnez du temps dans vos recherche, nos algorithmes travaillent pour vous.Besoin d'aide ? Une question ? Sweeetch te répond en 24h.

                Notre équipe d'experts te suit dans chaque démarche (CV, lettre de motivation, entretiens...) et te fais profiter d'un coaching de qualité grâce à notre service d'accompagnement personnalisé.
                
                Soit tu trouves une alternance, soit tu trouves une alternance !</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield"></i>
              <h4>Sweeetch PLUS </h4>
              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="{{ asset('assets/img/features.svg') }}" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>nos partenaires</h2>
      
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tout</li>
              <li data-filter=".filter-app">Entreprises</li>
              <li data-filter=".filter-card">Écoles</li>
              <li data-filter=".filter-web">Autres</li>
            </ul>
          </div>
        </div>
<!--entreprises-->
        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ asset('assets/img/portfolio/') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
              </div>
              <div class="portfolio-links">
                <a href="{{ asset('assets/img/portfolio/') }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                {# <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> #}
              </div>
            </div>
          </div>
          <!--entreprises fin-->

<!--écoles-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap taille">
              <img src="{{ asset('assets/img/portfolio/groupe-alternance.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Groupe Alternance</h4>
              </div>
              <div class="portfolio-links">
                <a href="{{ asset('assets/img/groupe-alternance.png') }}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                {# <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> #}
              </div>
            </div>
          </div>
<!--écoles fin-->


<!--Autres-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap taille">
              <img src="{{ asset('assets/img/portfolio/mission.png.jpeg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mission Locale</h4>
              </div>
              <div class="portfolio-links">
                <a href="{{ asset('assets/img/portfolio/mission.png.jpeg') }}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                {# <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> #}
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap taille">
              <img src="{{ asset('assets/img/portfolio/occitanie.jpg.png') }}" class="img-fluid" alt="">
              {# <div class="portfolio-info"> #}
                <h4>Région Occitanie</h4>
              </div>
              <div class="portfolio-links">
                <a href="{{ asset('assets/img/portfolio/occitanie.jpg.png') }}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                {# <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> #}
              </div>
            </div>
          </div>
<!--Autres fin-->
        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Questions fréquemment posées</h2>
          <p>Ces questions sont les plus fréquemment posées du point de vue des alternants, n'hésitez pas à nous contacter pour plus d'informations.</p>
        </div>
        <div class="section-title">
          <h2>Étudiants</h2>
          </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">L'alternance, qu'est ce que c'est ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                <p>
                  Aujourd'hui et sur le marché du travail, les formations en alternance sont ce qu'il y a de plus reconnu. L'alternance est un cursus qui allie théorie et pratique. Chaque semaine, tu assistes à des cours, tenu par à des professionnels dans leur domaine, afin d'obtenir un diplôme reconnu. Tu travailles également dans l'entreprise de ton choix afin de mettre en application ton savoir, et de te former au métier, grâce à un tuteur qui t'accompagne au quotidien dans ton évolution professionnelle. Grâce à l'alternance, tu pourras t'inserer très facilement dans le marché de l' emploi après ta formation !</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Dans quel secteur d'activité je peux faire mon alternance ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Aujourd'hui, pratiquement tous les secteurs d'activités privilégient l'alternance ! Que tu souhaites te former dans le commerce, la mode, la communication, l'événementiel, la banque, le sport, la restauration, l'immobilier, l'artisanat... Tu peux viser l'entreprise de ton choix, et même découvrir une nouvelle vocation, nos partenaires sont là pour te former aux métiers d'aujourd'hui et de demain ! Si tu as des questions, ou si tu hésites, l'équipe Sweeetch est là pour te conseiller !</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Qui sont ces entreprises ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Ce sont des professionnels avec lesquels l'équipe Sweeetch a validé leur capacité d'intégrer un alternant dans leur structure. Ils sont prêts à t'accueillir, te former et te donner les outils pour évoluer au sein de l'équipe !</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Comment postuler ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Rend toi sur l'offre qui t'intéresse, et vérifie que la description de l'entreprise et des missions correspond à ce que tu recherches ! Si c'est le cas, il ne reste plus qu'à postuler en cliquant sur le bouton approprié. Tu pourras personnaliser le message d'envoi et y ajouter ton CV. Ça y est, c'est envoyé !</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Une entreprise à retenu ma candidature, que faire ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Elle va bientôt te contacter pour un entretien, il est temps de t'y préparer ! Reçois nos conseils personnalisés afin de ne pas laisser passer ta chance !

                  Il n'y a pas d'entreprise qui recrutent dans le secteur que je recherche
                  
                  Sois patient ! L'équipe Sweeetch travaille à fond pour te proposer de nouvelles offres chaque semaine. Parles en aussi autour de toi : c'est comme cela que Sweeetch grandira et se fera connaître de toutes les entreprises !</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">J'ai postulé à plusieurs offres mais je n'ai pas encore de réponse <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Passer par l'intérim est très intéressant pour acquérir de l'expérience" explique Jérôme Gras, Directeur Executif chez Page Personnel. "Les jeunes diplômés ont d'ailleurs bien compris ses multiples avantages. Ils ne sont pas dupes : ils savent qu'ils ne trouveront peut-être pas exactement ce qu'ils recherchent en intérim mais qu'ils s'en rapprocheront. Mais c'est aussi ça la vie professionnelle."</div>
            </li>
            <br>

            <div class="section-title">
              <h2>Entreprise</h2>
              </div>
            <div class="faq-list">
              <ul>
                <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">L'intégration d'un alternant dans votre équipe vous permet de profiter de plusieurs avantages <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                    <p>
                      <p>> Vous répondez à un besoin en recrutement immédiat, tout en anticipant le futur de votre unité commerciale : vous former un candidat motivé aux savoir faire et à la culture de votre entreprise en vue d'une embauche à long terme.</p><br>
                      

                      <p>> L'alternant reçoit une formation professionnelle de qualité au sein de son école, lui permettant d'acquérir des savoir théoriques et ainsi de maîtriser rapidement des notions et outils propres à votre secteur d'activité. Son regard extérieur et les missions qu'il devra effectuer lors de sa formation lui permettra d'établir un diagnostic de votre entreprise, et de proposer des actions visant à optimiser votre organisation, votre chiffre d'affaires et votre image.</p><br>
                      
                      <p>> Vous participez à une démarche humaine de qualité : vous offrez la chance à un candidat motivé d'apprendre les divers aspects d'un métier dans son ensemble. C'est une façon de tendre la main aux jeunes actifs, afin qu'ils puissent faire leurs preuves dans l'expérience significative que vous leur proposez !</p><br>
                      
                      <p>> Grâce aux nombreux avantages financiers liés aux contrats d'alternance, vous envisagez le futur sereinement grâce à une maîtrise des coûts ! Au delà des réductions fiscales et des primes incitant à l'embauche, vous rémunérez l'alternant en fonction de son âge et de sa qualification (entre 25 et 80% du SMIC)</p><br> </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Je n'ai jamais embaucher d'alternant, comment procéder ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                    <p>
                      Avant tout, notre équipe d'experts est à votre disposition. Nous vous accompagnons tout au long du processus de recrutement, et nous vous renseignons sur toutes les modalités les plus avantageuses grâce à nos conseils personnalisés ! N'attendez plus à contactez nous par mail infos-contacts@sweeetch.com</div>
                </li>
                        <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">J’ai reçu plusieurs candidatures, comment les traiter ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                          <p>
                            Les différentes candidatures s'affichent dans votre espace. Vous pouvez consulter les informations et le CV de chaque candidat afin d'aiguiller votre recrutement.

                            Un candidat ne correspond pas à votre besoin : Vous sélectionnez "refuser la candidature". Un message automatique sera envoyé au candidat en question
                            
                            Un candidat correspond au profil recherché et vous souhaitez le rencontrer : 
                            Vous sélectionnez "valider la candidature". Un message est envoyé au candidat en question, et vous pouvez le contacter afin de procéder à un entretien d'embauche physique ou virtuel.
                            
                            J'ai reçu plusieurs candidats, et un profil se démarque, je veux le recruter : 
                            Notifiez votre choix au candidat en question, et sur sa candidature dans votre espace entreprise, cliquer sur "Je recrute ce candidat". Un mail de validation est envoyé à l'école partenaire, qui prendra rapidement contact avec vous pour procéder au contrat et à l'intégration de votre alternant.</div>
                      </li>
                    </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Si vous avez des questions à propos de Sweeetch, que vous soyez une entreprise à la recherche d’un alternant ou un étudiant en quête d’une alternance, n’hésitez pas à nous contacter en remplissant le formulaire ci-dessous et nous vous répondrons dans les plus brefs délais.</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">



          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A Propos de nous</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Conditions de d'utilisations</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Close de confidentialité</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">FAQ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sweeetch Plus</a></li>
            </ul>
          </div>
          

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>Sweeetch</span></strong>Fait avec ❤️ par d'anciens alternants
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ asset('assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('assets/js/main.js') }}"></script>

</body>

</html>