<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Sweeetch {% endblock %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="@">
        
        <link href="{{ asset('build/favicon.png') }}" rel="icon">
        <link href="{{ asset('build/apple-touch-icon.png') }}" rel="apple-touch-icon">

        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/1596c4b58a.js" crossorigin="anonymous"></script> 
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
            {{ encore_entry_link_tags('back') }}
        {% endblock %}
    </head>
    <body>

        <div id="ex1" class="modal">
            {{ include('back/_warning_form.html.twig') }}
        </div>

        <div class="wrapper">

            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav ul-ul">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                    {# <ul > #}
                        <li class="nav-item d-sm-inline-block">
                            <a href="/logout" class="nav-link">Déconnexion</a>
                        </li>
                    {# </ul> #}
                </ul>
            </nav>

            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <a href="{{ path('homepage') }}" class="brand-link">
                    <img src="{{ asset('build/favicon.png') }}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
                    <span class="brand-text font-weight-light"> Admin</span>
                </a>
                {# sidebar left #}
                <div class="sidebar">

                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="info">
                          <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="d-block">{{ app.user.email }}</a>
                        </div>
                    </div>
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item has-treeview">
                                <a href="{{ path('admin') }}" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Tableau de Bord
                                    </p>
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a href="{{ path('student_index') }}" class="nav-link">
                                    <i class="nav-icon fa fa-user-graduate"></i>
                                    <p>
                                        Etudiants 
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('company_index') }}" class="nav-link">
                                    <i class="nav-icon fa fa-industry"></i>
                                    <p>
                                        Entreprises 
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('school_index') }}" class="nav-link">
                                    <i class="nav-icon fa fa-university"></i>
                                    <p>
                                        Ecoles 
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item main-item">
                                <a href="{{ path('user_index') }}" class="nav-link">
                                    <i class="nav-icon fa fa-user-shield"></i>
                                    <p>
                                        Administrateurs
                                    </p>
                                </a>

                                {% if app.request.get('_route') == 'user_index' or app.request.get('_route') == 'user_new' or app.request.get('_route') == 'user_edit' %}

                                <li class="nav nav-tree">
                                  <li class="nav-item">
                                    <a href="{{ path('user_index') }}" class="nav-link">
                                      <i class="far fa-circle nav-icon"></i>
                                      <p>Tous</p>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="{{ path('user_new') }}" class="nav-link">
                                      <i class="far fa-circle nav-icon"></i>
                                      <p>Nouveau</p>
                                    </a>
                                  </li>
                                </li>

                              {% endif %}

                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            {# content #}
            <div class="content-wrapper">
                <section class="content content-back">
                    {% block body %}{% endblock %}
                </section>
            </div>
            <footer class="main-footer">
                <strong>Sweeetch - Admin</strong>
            </footer>

        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('back') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        {% endblock %}

    </body>
</html>
