{# index of all applies by student #}

{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - Etudiants {% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_STUDENT') %}

<div class="row row-top">

    <div class="col-lg-6">
        {# title #}
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="m-0">Candidatures</h1> <br>
                    <a href="{{ path('offers_index') }}" class="btn btn-sm btn-success">
                        Chercher un emploi
                    </a>
                </div>
            </div>
        </div> <br>
     </div>
     {# timeline #}
     {# <div class="col-timeline col-lg-6">

     {% if applies[0] is defined %}
         {% if applies[0].hired == true or applies[0].agree == true or applies[0].confirmed == true %}
         
         <h5>Progression du recrutement : </h5>

         <div class="timeline col-lg-12" style="position:relative">

             <div class="time-icon" data-url="first">
                 {% if applies[0] is defined %}
                     {% if applies[0].hired == true %}
                     <span class="badge bg-warning">à valider</span>
                     {% else %}
                     <span class="badge bg-secondary">à valider</span>
                     {% endif %}
                 {% else %}
                 <span class="badge bg-secondary">à valider</span>
                 {% endif %}
             </div>
             
             <div class="time-icon" data-url="second">
                 {% if applies[0] is defined %}
                     {% if applies[0].agree == true %}
                     <span class="badge bg-info">en Traitement</span>
                     {% else %}
                     <span class="badge bg-secondary">en Traitement</span>
                     {% endif %}
                 {% else %}
                 <span class="badge bg-secondary">en Traitement</span>
                 {% endif %}
             </div>
             <div class="time-icon" data-url="third">
                 {% if applies[0] is defined %}
                     {% if applies[0].confirmed == true %}
                     <span class="badge bg-success">en cours</span>
                     {% else %}
                     <span class="badge bg-secondary">en cours</span>
                     {% endif %}
                 {% else %}
                 <span class="badge bg-secondary">en cours</span>
                 {% endif %}
             </div>

             <div class="message message-first">
                 <div class="timeline-item">
                 <h3 style="text-align:center;" class="timeline-header">Traitement du dossier</h3>
                 </div>
             </div>

         </div>

         {% endif %}
     {% endif %}

     </div> #}

 </div>
{# success message #}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{# table #}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-responsive-table">
                <div class="card-header">
                    <h3 class="card-title" style="font-weight:900;font-size:22px;">Candidatures</h3>
                    <a href="#help-1" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                        <i class="fas fa-question-circle"></i>
                    </a>
                </div>
                <div class="card-body">
                    <table id="index1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Entreprise</th>
                                <th>Lieu</th>
                                <th>Domaine</th>
                                <th>Situation</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        {% for applies in applies %}

                        <tbody>
                            {% if applies.offers.id is defined %}
                            <tr>
                                <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}">{{ applies.offers.title }}</a> 
                                {% else %}
                                    {% if applies.hired == true or applies.agree == true or applies.confirmed == true or applies.finished == true %}
                                    <a href="{{ path('offers_show_hired', {'id': applies.offers.id, 'student_id' : student.id}) }}">{{ applies.offers.title }}</a>
                                    {% else %}
                                    <a href="{{ path('offers_show', {'id': applies.offers.id}) }}">{{ applies.offers.title }}</a>
                                    {% endif %}
                                {% endif %}
                                </td>
                                <td> {{ applies.offers.company.companyName }}</td>
                                <td>{{ applies.offers.location }}</td>
                                <td>{{ applies.offers.domain }}</td> 
                                <td> 
                                    {% if applies.confirmed == false %}
                                        {% if applies.agree == false %}
                                            {% if applies.hired == false %}
                                            <span class="badge bg-secondary">ouverte</span>
                                            {% else %}
                                            <span class="badge bg-warning">à valider</span>
                                            {% endif %}
                                        {% else %}
                                        <span class="badge bg-info">dossier en Traitement</span>
                                        {% endif %}
                                    {% else %}
                                    <span class="badge bg-success">en cours</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        {% if applies.hired == false and applies.confirmed == false and applies.agree == false %}
                                        <form method="post" class="btn-icon-form" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        {% elseif applies.hired == true %}
                                        <form method="post" class="btn-icon-form" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        <form method="post" class="btn-icon-form" action="{{ path('agree', { id:applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir accepter cette offre ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('agree' ~  student.id) }}">
                                            <button class="btn btn-success btn-sm">
                                                <i class="fas fa-user-check" title="Embaucher"></i>
                                                Accepter
                                            </button>
                                        </form>
                                        {% elseif applies.agree == true %}
                                        <button class="btn-icon-form btn-icon btn-warning" title="Dossier en cours de traitement">
                                            <i class="fas fa-hourglass-start"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5"> 
                                    <span style="color:#FF5961;">Votre entreprise a supprimé son compte </span>
                                    <a href="#suppr-1" rel="modal:open" class="badge " title="aide" style="color:#8e8e8e;">
                                        <i class="fas fa-question-circle"  style="margin-left:5px;color:#8e8e8e;"></i>
                                    </a>
                                </td>
                                <td>
                                    <form method="post" class="btn-icon-form" action="{{ path('apply_delete', {'id': applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applies.id) }}">
                                        <button class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}
{# warning message if account not confirmed #}
<br><br>
<div class="col-lg-10 col-sm-12 col-md-12" id="info-bulle">
    <div class="info-box mb-3 overflow-box">
      <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

        <div class="info-box-nopage info-box-content">
            <span class="info-box-text">Vous devez valider votre email, puis nous validerons votre compte pour que vous puissiez postuler</span>            
        </div>
        
    </div>
</div> 

{% endif %}

{% endblock %}

{% block javascripts %}

    {# enable dataTable #}

    {{ parent() }}

    <script>
        $(function () {
            $("#index1").DataTable({
                "paging": true,
                "pageLength": 5,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": true,
                "responsive": true,
                "language": {
                "emptyTable": "Aucune offre pour le moment",
                "paginate": {
                    "previous": "Précédent",
                    'next':'Suivant'
                    }
                }
            });    
        });
    </script>

{% endblock %}