{# show offers info to student #}

{% extends 'base-student.html.twig' %} 

{% block title %} {{ parent() }} - Etudiants {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 titles-front">{{ offers.title }}</h1> <br>
                <div>
                    {# "go back" button #}
                    {% if offers.applies[0] is defined %}
                        {% if offers.applies[0].finished == false %}
                        <a href="{{ path('student_apply', {id:student.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                            <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                            Revenir 
                        </a>
                        {% else %}
                        <a href="{{ path('student_finished', {id:student.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                            <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                            Revenir 
                        </a>
                        {% endif %}
                    {% else %}
                    <a href="{{ path('student_apply', {id:student.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                        Revenir 
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div> <br>
    {# success message #}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    
    <div class="col-md-12">
        <div class="card-responsive card">
    
            <div class="Password card col-lg-12">
                {# offers infos #}
                <div class="col-lg-12">
                    <h3 class="mb-3 mt-3 pl-3-responsive titles-front">Détail de l'Offre</h3>
                </div>
    
                <div class="card-responsive card-body">
                    <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <tbody>
                            <tr>
                                <th>Entreprise</th>
                                <td style="display:flex;">
                                    {% if offers.company.pictures.fileName is defined %}
                                    <div class="image" style="margin-right:15px;">
                                        <img src="{{ uploaded_asset(offers.company.pictures.fileName) }}" class="profile_picture elevation-2" alt="User Image">
                                    </div>
                                    {% else %}
                                    <div style="margin-right:15px;">
                                        <img src="https://via.placeholder.com/30" />                        
                                    </div>
                                    {% endif %}
                                     {{ offers.company.companyName }}
                                </td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>{{ offers.location }}</td>
                            </tr>
                            <tr>
                                <th>Domain</th>
                                <td>{{ offers.domain }}</td>
                            </tr>
                            <tr>
                                <th>DateStart</th>
                                <td>{{ offers.dateStart ? offers.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>DateEnd</th>
                                <td>{{ offers.dateEnd ? offers.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card description" style="padding:10px;">
                        <h5 class="mb-3">Description</h5>
                        <p>{{ offers.description |raw }}</p>
                    </div>
                    
                </div>
                {# company infos #}
                <div class="col-lg-12">
                    <h3 class="mb-3 mt-3 pl-3-responsive titles-front">Profil de l'Entreprise</h3>
                </div>
    
                <div class="card-responsive card-body" style="max-width:100%;overflow:scroll;">
                
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Entreprise</th>
                                <td>{{ offers.company.companyName }}</td>
                            </tr>
                            <tr>
                                <th>Responsable</th>
                                <td>{{ offers.company.firstname }} {{ offers.company.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ offers.company.address }}</td>
                            </tr>
                            <tr>
                                <th>Code Postal</th>
                                <td>{{ offers.company.zipCode }}</td>
                            </tr>
                            <tr>
                                <th>Ville</th>
                                <td>{{ offers.company.city }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ offers.company.telNumber }}</td>
                            </tr>
                            <tr>
                                <th>Siret</th>
                                <td>{{ offers.company.siret }}</td>
                            </tr>
    
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
