{# show offer and candidates to company 

{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - Entreprises {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 titles-front">{{ offers.title }}</h1> <br>
            <div>
                <a href="{{ path('offers_company_index', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
            </div>
        </div>
    </div>
</div> <br>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card" id="card-1">
        
                <div class="card-header">
                    <p class="card-title" style="color:#FFC756 !important; font-weight:900;font-size:22px;">Détail de l'Offre</p>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus" style="color:#B5B7B9;"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">

                        <tbody>
                            <tr>
                                <th>Lieu</th>
                                <td>{{ offers.location }}</td>
                            </tr>
                            <tr>
                                <th>Domaine</th>
                                <td>{{ offers.domain }}</td>
                            </tr>
                            <tr>
                                <th>Du</th>
                                <td>{{ offers.dateStart ? offers.dateStart|date('d-m-Y') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Au</th>
                                <td>{{ offers.dateEnd ? offers.dateEnd|date('d-m-Y') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card description" style="padding:10px;">
                        <h5 class="mb-3">Description</h5>
                        <p>{{ offers.description |raw }}</p>
                    </div>
                    
                </div>
                    
            </div>
        </div>
    </div> 

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-responsive-table">
                    <div class="card-header">
                        <h3 class="card-title" style="font-weight:900;font-size:22px;">Candidatures</h3>
                        <a href="#help-1" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                            <i class="fas fa-question-circle"></i>
                        </a>
                    </div>
                  
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Date de candidature</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                       
                        {% if applies[0] is defined %}

                            {% for applies in applies %}

                                <tr>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td style="padding-top: 18px;"><a href="{{ path('student_show', { "id":applies.student.id }) }}">{{ applies.student.name }} {{ applies.student.lastname }}</a></td>
                                    {% else %}
                                    <td style="padding-top: 18px;"><a href="{{ path('show_applied_profile', { "id":applies.student.id, "company_id": offers.company.id, "offers":offers.id }) }}">{{ applies.student.name }} {{ applies.student.lastname }}</a></td>
                                    {% endif %}
                                    <td>{{ applies.dateRecruit|date("d/m/Y à g\\hi") }}</td>
                                    <td style="color:white;">
                                    
                                        <div class="btn-group">
                                    {% if applies.hired == false and applies.confirmed == false and applies.agree == false %}
                                         
                                            <form method="post" action="{{ path('hire', { id:applies.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir embaucher cet étudiant ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('hire' ~ applies.id) }}">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fas fa-user-check" title="Embaucher"></i>
                                                    Recruter
                                                </button>
                                            </form>

                                            <form method="post" action="{{ path('apply_refuse', {'id': applies.id }) }}" class="btn-icon-form" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ applies.id) }}">
                                                <button class="btn btn-danger btn-sm">
                                                    <i class="fas fa-times"></i>
                                                    Refuser
                                                </button>
                                            </form>

                                    {% elseif applies.hired == true %}
                                            <span class="badge badge-warning right">En attente d'acceptation du candidat</span>
                                    {% elseif applies.agree == true %}

                                            <form method="post" class="btn-icon-form" action="{{ path('confirm', { id:applies.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir commencer la mission ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ applies.id) }}">
                                                <button class="btn btn-info btn-sm">
                                                    <i class="far fa-stop-circle"></i>
                                                    Finaliser le recrutement
                                                </button>
                                            </form>

                                    {% endif %}
                                        </div>
                                    </td>
                                </tr>
                        
                            {% endfor %}
                        
                        {% endif %} 

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

    $(document).ready(function() {
        $('#card-1').CardWidget('toggle');
    });
</script>

{% endblock %}

#}