{# show offer to company when it is finished #}
{% extends 'base-company.html.twig' %}

{% block title %} {{ parent() }} - Entreprises {% endblock %}

{% block body %}
{# title #}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 titles-front">{{ offers.title }}</h1> <br>
            <div>
                <a href="{{ path('offers_company_finished', {id:offers.company.id}) }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Revenir 
                </a>
            </div>
        </div>
    </div>
</div> <br>
{# success message or error message #}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}


<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                {# candidates #}
                <div class="card-header">
                    <h3 class="card-title" style="font-weight:900;font-size:22px;">Candidatures</h3>
                </div>
    
                <div class="card-body">
                    <table id="finish1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for finished in finished %}         
                            <tr>
                                {# student name #}
                                {% if finished.student.id is defined %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td style="padding-top: 18px;"><a href="{{ path('student_show', { "id":finished.student.id }) }}">{{ finished.student.name }} {{ finished.student.lastname }}</a></td>
                                    {% else %}
                                    <td style="padding-top: 18px;" ><a href="{{ path('show_applied_finished', { "id":finished.student.id, "company_id": offers.company.id, "offers":offers.id }) }}">{{ finished.student.name }} {{ finished.student.lastname }}</a></td>
                                    {% endif %}
                                    <td></td>
                                {% else %}
                                    {# if finished and student profile is deleted #}
                                    <td>
                                        <p style="color:#FF475B;">Le profil de l'étudiant a été détruit</p>
                                    </td>
                                    <td colspan="2">
                                        <form method="post" action="{{ path('delete_empty_companySide', {'id': finished.offers.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette mission ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ finished.offers.id) }}">
                                            <button class="btn btn-danger">Supprimer L'Annonce</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card" id="card-1">
                <div class="card-header">
                    <p class="card-title" style="color:#FFC756 !important; font-weight:900;font-size:22px;">Détail de l'Offre</p>
    
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus" style="color:#B5B7B9;"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <br><br>
                    <div class="col-lg-8 column" style="margin:auto">
                        <div class="job-single-sec">
                            <div class="job-single-head">
                                <div class="job-thumb"> 
                                    {% if offers.company.pictures.fileName is defined %}
                                    <img src="{{ uploaded_asset(offers.company.pictures.fileName) }}" alt="">
                                    {% else %}
                                    <img src="https://via.placeholder.com/150" alt="" >
                                    {% endif %}
                                </div>
                                <div class="job-head-info">
                                    <h4>{{ offers.title }}</h4>
                                    <span>{{ offers.company.address }}, {{ offers.company.ZipCode }}, {{ offers.company.city }}</span>
                                    <p><i class="la la-unlink"></i>{{ offers.company.website }}</p>
                                    <p><i class="la la-phone"></i> {{ offers.company.telNumber }} </p>
                                    <p><i class="la la-envelope-o"></i> <a href="#" class="__cf_email__" data-cfemail="a4c5c8cd8ad0d1c2c5cae4cecbc6ccd1cad08ac7cbc9">{{ offers.company.user.email }}</a></p>
                                </div>
                            </div><!-- Job Head -->
                            <div class="job-details">
                                <h3>Job Description</h3>
                                {{ offers.description |raw }}
                                <h3>Compétences Requises</h3>
                                <ul>
                                    {% for skills in offers.skills %}
                                    <li>{{ skills.single }}</li>
                                    {% else %}
                                    <span style="color:darkred;">Aucune compétence spécifique n'est requise</span>
                                    {% endfor %}
                                </ul>
                                <h3>Formation + Experience</h3>
                                <ul>
                                    {% for Experience in offers.Experience %}
                                    <li>{{ Experience.single }}</li>
                                    {% else %}
                                    <span style="color:darkred;">Aucune expérience spécifique n'est requise</span>
                                    {% endfor %}
                                </ul>
                            </div><br>
                            {# apply options #}
                            {% if is_granted('ROLE_USER') %}

                            {% if app.user.student.id is defined %}

                                {% if is_granted('ROLE_SUPER_STUDENT') %}

                                    {% if offers.state == false %}
                                    <form method="post" action="{{ path('apply', { id:offers.id, student_id:app.user.student.id, page:page }) }}">
                                        <input type="hidden" name="_method" value="POST">
                                        <input type="hidden" name="_token" value="{{ csrf_token('apply' ~ app.user.student.id) }}">
                                        <button class="btn btn-success" style="width:100%;">Postuler</button>
                                    </form> 
                                    {% else %}
                                    <div class="col-12 col-sm-6 col-md-6">
                                        <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-info"></i></span>
                            
                                        <div class="info-box-content">
                                            <span class="info-box-number">Dossier en cours</span>
                                            <span class="info-box-text">Controllez votre profil</span>
                                        </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    
                                {% elseif is_granted('ROLE_STUDENT') %}
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="info-box mb-3">
                                    <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-exclamation-triangle"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-number">Validation en attente</span>
                                        <span class="info-box-text">
                                            Vous devez valider votre email et attendre que Sweeetch valide votre compte pour pouvoir postuler
                                        </span>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}

                            {% endif %}
                            
                            {% else %}
                            <a href="{{ path('student_new') }}" class="btn btn-success">S'inscrire pour voir l'annonce</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{#
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card" id="card-1">
        
                <div class="card-header">
                    <p class="card-title" style="color:#FFC756 !important; font-weight:900;font-size:22px;">Détail de l'Offre</p>
    
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus" style="color:#B5B7B9;"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table offers-show col-lg-5 col-md-5 col-sm-12 col-xs-12">
    
                    <tbody>
                        <tr>
                            <th>Lieu</th>
                            <td>{{ offers.location }}</td>
                        </tr>
                        <tr>
                            <th>Domaine</th>
                            <td>{{ offers.domain }}</td>
                        </tr>
                        <tr>
                            <th>Du</th>
                            <td>{{ offers.dateStart ? offers.dateStart|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Au</th>
                            <td>{{ offers.dateEnd ? offers.dateEnd|date('d-m-Y') : '' }}</td>
                        </tr>
                    </tbody>
                </table>

            </table>

            <div class="card description" style="padding:10px;">
                <h5 class="mb-3">Description</h5>
                <p>{{ offers.description |raw }}</p>
            </div>
            
        </div>      
    </div>
</div>
</section>
#}
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    // close card 1 
    $(document).ready(function() {
        $('#card-1').CardWidget('toggle');
    });
    // enable dataTable
    $(function () {
        $("#finish1").DataTable({
            "paging": true,
            "lengthChange": false,
            "pageLength": 5,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "language": {
            "emptyTable": "Aucune offre pour le moment",
            "paginate": {
                "previous": "Précédent",
                'next':'Suivant'
                }
            }
        });   
    });

</script>

{% endblock %}