{# list of schools by student #}
{% extends 'base-student.html.twig' %}

{% block title %} {{ parent() }} - Etudiants {% endblock %}

{% block body %}

{% if is_granted('ROLE_STUDENT_HIRED') %}
{# title #}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="m-0 text-dark">Formations</h1> <br>
            <a href="{{ path('studies_candidate_index', {from:'student', id:student.id}) }}" class="btn btn-sm btn-success">
                Liste des Formations 
            </a>
        </div>
    </div>
</div> <br>
{# success message #}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{# list of recruits #}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card overflow-box">
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>Formation</th>
                                <th>Domaine</th>
                                <th>Ecole</th>
                                <th>Situation
                                    <a href="#school-1" rel="modal:open" class="badge " title="aide" style="margin-left:5px;color:#8e8e8e;">
                                        <i class="fas fa-question-circle"></i>
                                    </a>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        {% for recruit in recruit %}

                        <tbody>
                            <tr>
                                <td>
            
                                <a href="{{ path('show_student_hired', {id:recruit.studies.id, student:student.id}) }}">{{ recruit.studies.title }}</a>
                                </td>
                                <td>{{ recruit.studies.domain }}</td> 
                                <td> {{ recruit.studies.school.companyName }}</td>
                                <td> 
                                    open
                                </td>
                                <td>
                                    {# recruit options #}
                                    <div class="btn-group">
                                        {% if recruit.hired == false and recruit.finished == false and recruit.agree == false %}
                                        <form method="post" class="btn-icon-form" action="{{ path('delete_recruit', {'id': recruit.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recruit.id) }}">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        {% elseif recruit.hired == true %}
                                        <form method="post" class="btn-icon-form" action="{{ path('delete_recruit', {'id': recruit.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette candidature ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recruit.id) }}">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        <form method="post" class="btn-icon-form" action="{{ path('recruit_agree', { id:recruit.id }) }}" onsubmit="return confirm('Etes-vous certain de vouloir accepter ce cursus ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('agree' ~  recruit.id) }}">
                                            <button class="btn btn-success btn-sm">
                                                <i class="fas fa-user-check" title="Embaucher"></i>
                                                Accepter
                                            </button>
                                        </form>
                                        {% elseif recruit.agree == true %}
                                        <button class="btn-icon-form btn-icon btn-warning" title="Dossier en cours de traitement">
                                            <i class="fas fa-hourglass-start"></i>
                                        </button>
                                        {% endif %}
                
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{# if not allowed to see recruits #}
{% else %}
<br><br>
<div class="col-lg-6 col-sm-12 col-md-12" id="info-bulle">
    <div class="info-box mb-3 overflow-box">
    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hourglass-start"></i></span>

        <div class="info-box-nopage info-box-content">
            <span class="info-box-text">Vous devez avoir une alternance pour accéder aux écoles.</span>            
        </div>
        
    </div>
</div> 
{% endif %} 

{% endblock %}
