
{% extends 'base-front.html.twig' %}

{% block title %} {{ parent() }} - Ecoles {% endblock %}

{% block body %}

<div class="background">

    <div class="container jobs-container">

        <header id="header">
            {# menu #}
            <div class="container" id="customer-header">
                {# nav #}
                <nav class="main-nav d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/">Accueil</a></li>
                        {% if page is defined %}
                        <li><a href="{{ path('offers_index', {'page':page}) }}">Alternances</a></li>
                        {% else %}
                        <li><a href="{{ path('offers_index', {'page':1}) }}">Alternances</a></li>
                        {% endif %}
                        {% if pages is defined %}
                        <li><a href="{{ path('studies_candidate_index', {'page':pages}) }}">Formations</a></li>
                        {% else %}
                        <li><a href="{{ path('studies_candidate_index', {'page':1}) }}">Formations</a></li>
                        {% endif %}
                        {# <li><a href="{{ path('offers_index') }}">Alternances</a></li> #}
                        <li class="drop-down"><a>S'INSCRIRE</a>
                            <ul>
                                <li><a href="/student/new">Etudiants</a></li>
                                <li><a href="/company/new">Entreprises</a></li>
                                <li><a href="/school/new">Ecoles</a></li>
                            </ul>
                        </li> 
                        <li><a href="/login/">CONNEXION</a></li>
                    </ul>
                </nav>
            
            </div>
        </header>

        <h1 class="titles-front">Ecoles</h1>
        {# form #}
        {{ include('school/_form.html.twig') }}

    </div>
    
</div>
{# footer #}
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="copyright">
        &copy; Copyright <strong>SWEEETCH</strong>. All Rights Reserved
        </div>
        <div class="credits">
        L'équipe de SWEEETCH
        </div>
    </div>
</footer>
    
{% endblock %}
