{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - Admin {% endblock %}

{% block body %}
{# template #}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Modifier un Administrateur</h1>
                <a href="{{ path('user_index') }}" class="btn btn-sm btn-sm-1 btn-labeled btn-default">
                    <span class="btn-label"><i class="fa fa-chevron-left"></i></span>
                    Retour 
                </a>
            </div>
        </div>
    </div>
</div>
{# message #}
{% for message in app.flashes('success') %}
  <div class="alert alert-success">
      {{ message }}
  </div>
{% endfor %}
{# edit #}
<div class="row">
    <div class="col-md-12">
        <div class="card card-action">
            <div class="card-body">
                <div class="row card-row">
                    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                
            </div>
            <div class="card-footer">
                
                <div class="row">
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
