{# list admins #}
{% extends 'base-back.html.twig' %}

{% block title %} {{ parent() }} - Admin {% endblock %}

{% block body %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Administrateurs</h1>
                    <a href="{{ path('user_new', {id:app.user.id}) }}" class="btn btn-sm btn-sm-1 float-left btn-success">Nouveau</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th id="last-left">Email</th>
              </tr>
              </thead>
              <tbody>
              {% for user in users %}
              <tr>
                <td><strong><a href="{{ path('user_edit', {'id': user.id}) }}">{{ user.email }}</a></strong></td>
              </tr>
                {% else %}
                    <tr>
                      <td colspan="5">Aucun Elément</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{ knp_pagination_render(users) }}
    </div>

{% endblock %}
